body {
    background: linear-gradient(teal, white);
    font-family: 'Arimo', sans-serif;
  }

h1 {
    background-color: teal;
    color: whitesmoke;
}

#rules {
    background-color: thistle;
}

.container {
    width: 500px;
    margin: 15px;
}

#goal-number {
    background-color: peru;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

#points {
    padding: 20px;
    background-color: aquamarine;
    border-left: 1px solid grey;
}

.img {
      background-color: white;
      padding: 10px;
}

  .score {
    background-color: turquoise;
}


#added {
    font-size: 50px;
}
